.dropdown_container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 1390px;
  background-color: var(--bgInput);
  padding: 10.5px 24px;
}

.dropdown_button {
  background-color: #f1f1f1;
  color: black;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown_content {
  background-color: #222324;
}
