.dropdown_container {
  position: relative;
  display: inline-block;
}

.dropdown_button {
  background-color: #f1f1f1;
  color: black;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* .dropdown_content {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 12px;
  top: 100%;
  left: 0;
  min-width: 160px;
} */
