
.edit_cv {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
}

.small {
  width: 90%;
  margin-bottom: 10px;
}

.toggle_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}

.github_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .small {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .small {
    width: 45%;
  }
}

@media (min-width: 1920px) {
  .small {
    width: 30%;
  }
}