.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 385px;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 1rem;
}


.login_text_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.btn_login {
  background-color: var(--megakRed);
  border: 0;
  color: var(--white);
  padding: 6px 10px;
  letter-spacing: 0px;
  font: normal normal normal 16px/27px Catamaran;
  cursor: pointer;
  opacity: 1;
  font-weight: 200;
}

.btn_login:hover {
  opacity: 0.9;
}

.btn_login:focus-visible {
  outline: 2px solid hotpink;
}