.container {
  max-width: 1426px;
  margin: 0 auto;
  display: flex;
  padding-inline: 1rem;
  gap: 5px;
}

.back {
  flex: 1;
}

.back a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.back a:hover {
  opacity: 0.8;
}

.profile {
  flex: 2;
  background-color: var(--bgInput);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.contact {
  text-align: left;
  width: 100%;
  margin-top: 1rem;
}

.contact a {
  font-weight: 200;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0rem;
  color: var(--white);
}

.details {
  flex: 10;
  background-color: var(--bgInput);
}
