.error_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    color: var(--white);
    font-weight: 200;
}

.test {
    margin-left: 10px;
    color: var(--white);
    font-weight: bold;
}

.close {
    margin-right: 10px;
    cursor: pointer;
}
.success {
    background-color: #008000;
}
.error {
    background-color: var(--megakRed);
}