.one_rating_area {
    width: 20rem;
}

.rating_button {
    cursor: pointer;
    margin-right: 3%;
    color: white;
    background-color: #292A2B;
    width: 15%;
    padding: 8px;
    border: 0;

}

.rating_value {
    margin-right: 15%;
}

.star {
    color: #e02635;
}

.star_clicked {
    color: white;
}

.rating_button_clicked {
    composes: rating_button;
    background-color: #e02635;
}