.one_degree {
    background: #292A2B 0% 0% no-repeat padding-box;
    margin-right: 0.5rem;
    cursor: pointer;
    width: 5rem;
    padding: 0.2rem 0.7rem;
    font: normal normal normal 14px/23px Catamaran;
    letter-spacing: 0px;
    color: #F7F7F7;
}

.degrees_field {
    /*width: 550px;*/
}

.one_rating_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.react_icons_star {
    margin-top: 0.7rem;
    width: 1.5rem;
    vertical-align: -0.19rem;
    font-size: 12px;
    color: var(--megakRed);
}

.react_icons_star_active {
    color: white;
}
