:root {
  --succesColor: #28cc13;
  --failureColor: #e02635;
  --warningColor: #d69200;
}

.Alert {
  position: fixed;
  top: auto;
  right: 10px;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 200px;
  border-radius: 2px;
  animation-duration: .6s;
  animation-name: slidein;
  animation-timing-function: linear;
}
img {
  filter: brightness(0) invert(1);
}
.success {
  background-color: var(--succesColor);
}
.fail {
  background-color: var(--failureColor);
}
.warning {
  background-color: var(--warningColor);
}

@media (min-width: 768px) {
  .Alert {
    top: 10%;
    bottom: auto;
  }
}

@keyframes slidein {
  from {
    right: -250px;
  }

  to {
    right: 10px;
  }
}