.admin_panel_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: var(--bgInput) 0% 0% no-repeat padding-box;
  margin-bottom: 3px;
  border-bottom: 4px solid #202122;
}
.admin_panel_main {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .admin_panel_header {
    justify-content: start;
  }
}
