.search_input {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 365px;
  border: 0;
  border-radius: 0;
  padding: 0px;
  color: #666;
  background-color: var(--bgNav);
}

.search_img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  display: block;
}

.search_input input:focus {
  outline: none;
}
