.url_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.url_form_description {
  text-transform: uppercase;
}
.url_form_btn {
  align-self: end;
  margin-left: 5px;
}

.url_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 10px 0 ;
}

.url_form_empty {
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0;
}