.filter_modal {
    background: #0A0A0A 0% 0% no-repeat padding-box;
    padding: 2rem 1.5rem;
    width: 30%;
    height: 80%;
    text-align: left;
    font: normal normal normal 14px/23px Catamaran;
    letter-spacing: 0px;
    color: #F7F7F7;
    opacity: 1;
    margin: 7rem auto;
    z-index: 10;
}

/*.filter_modal - problem z fontem - ostatnie normal to ma być medium ale jest błąd*/

.filter_modal_btns {
    display: flex;
    justify-content: flex-end;
}

.filter_modal .filter_modal_btns button {
    /*font-family: 'Ubuntu', sans-serif;*/
    /*margin-top: 7vh;*/
    /*font-size: 22px;*/
    /*padding: 22px 5vw 3vh;*/
    /*border: 1px solid #d495e2;*/
    margin-left: 1em;
}

.filter_modal .filter_modal_btns button:nth-child(odd) {
    background-color: transparent;
}

.btn_filter_modal_smaller button {
    text-align: left;
    font: normal normal normal 12px/19px Catamaran;
    letter-spacing: 0px;
    color: #F7F7F7;
    background: #292A2B 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 1em;
}

.input_filter_modal_smaller input {
    font: normal normal normal 12px/19px Catamaran;
    width: 20%;
    margin: 0 1em;
}

.input_months input {
    font: normal normal normal 12px/19px Catamaran;
    width: 23%;
}

.filter_modal_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter_modal div {
    margin-bottom: 1rem;
}

.single_input_filter_modal input {
    display: none;
}

.single_input_filter_modal label:before {
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    background-color: transparent;
    border: 1px solid var(--bgInput);
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

.input_radio:checked + label:before {
    /*content: "🔴";*/
    /*text-align: center;*/
}

/*.single_input_filter_modal label {*/

/*}*/

/*.input_filter_modal_radio {*/
/*    margin-top: 0.2rem;*/
/*}*/

.first_row {
    display: flex;
    justify-content: space-between;
}

.first_row button {
    text-align: left;
    font: normal normal normal 14px/23px Catamaran;
    letter-spacing: 0px;
    color: #F7F7F7;
    background: #172A35 0% 0% no-repeat padding-box;
    opacity: 1;
}

.ReactModal__Overlay {
    opacity: 0;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}




