.filter_modal {
    background: #0A0A0A 0% 0% no-repeat padding-box;
    padding: 2rem 1.5rem;
    min-width: 300px;
    max-width: 800px;
    width: 550px;
    height: 700px;
    text-align: left;
    font: normal normal normal 14px/23px Catamaran;
    letter-spacing: 0px;
    color: #F7F7F7;
    opacity: 1;
    margin: 7rem auto;
    z-index: 10;
}

/*.filter_modal - problem z fontem - ostatnie normal to ma być medium ale jest błąd*/

.filter_modal_btns {
    display: flex;
    justify-content: flex-end;
}

.filter_modal .filter_modal_btns button {
    /*font-family: 'Ubuntu', sans-serif;*/
    /*margin-top: 7vh;*/
    /*font-size: 22px;*/
    /*padding: 22px 5vw 3vh;*/
    /*border: 1px solid #d495e2;*/
    margin-left: 1em;
}

.filter_modal .filter_modal_btns button:nth-child(odd) {
    background-color: transparent;
}

/*.btn_filter_modal_smaller button {*/
/*    text-align: left;*/
/*    font: normal normal normal 12px/19px Catamaran;*/
/*    letter-spacing: 0px;*/
/*    color: #F7F7F7;*/
/*    background: #292A2B 0% 0% no-repeat padding-box;*/
/*    opacity: 1;*/
/*    margin-right: 1em;*/
/*}*/

.input_filter_modal_smaller input {
    font: normal normal normal 12px/19px Catamaran;
    width: 20%;
    margin: 0 1em;
}

.input_months input {
    font: normal normal normal 12px/19px Catamaran;
    width: 23%;
}

.filter_modal_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter_modal div {
    margin-bottom: 1rem;
}

.single_input_filter_modal input {
    display: none;
}

.single_input_filter_modal label:before {
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    background-color: transparent;
    border: 1px solid var(--bgInput);
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

.input_radio:checked + label:before {
    /*content: "🔴";*/
    /*text-align: center;*/
}

/*.single_input_filter_modal label {*/

/*}*/

/*.input_filter_modal_radio {*/
/*    margin-top: 0.2rem;*/
/*}*/

.first_row {
    display: flex;
    justify-content: space-between;
}

.first_row button {
    text-align: left;
    font: normal normal normal 14px/23px Catamaran;
    letter-spacing: 0px;
    color: #F7F7F7;
    background: #172A35 0% 0% no-repeat padding-box;
    opacity: 1;
}

.btn_filter_modal_smaller {
    text-align: left;
    font: normal normal normal 12px/19px Catamaran;
    letter-spacing: 0px;
    color: var(--white);
    background: #292A2B 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 1em;
    border: 0;
    padding: 6px 10px;
    font-weight: 200;
}

.button {
    background-color: var(--megakRed);
    text-align: left;
    font: normal normal normal 12px/19px Catamaran;
    letter-spacing: 0px;
    color: var(--white);
    opacity: 1;
    margin-right: 1em;
    border: 0;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 200;
}

.button_bigger {
    background-color: var(--megakRed);
    border: 0;
    color: var(--white);
    padding: 6px 10px;
    letter-spacing: 0px;
    font: normal normal normal 16px/27px Catamaran;
    cursor: pointer;
    opacity: 1;
    font-weight: 200;
}

.button:hover {
    opacity: 0.9;
}

.button:focus-visible {
    outline: 2px solid hotpink;
}

@media(max-width: 768px) {
    .filter_modal {
        margin: 7rem 1rem;
        width: 400px;
        height: 800px;
    }
    .btn_filter_modal_smaller button {
        margin-top: 1rem;
    }
}

@media(min-width:768px){
    .filter_modal {
        margin: 7rem auto;
    }
}

/*TODO:
   1. input type="number" - ostylować strzałki według makiety\
   2. input type="radio" - ostylować po zaznaczeniu
   3. zmiana szerokości Navbara jak na makiecie
   6. określić szerokości dla inputów na stałe a nie %
   */





