:root {
    --toggleWidth: 60px;
    --toggleHeight: 30px;
    --toggleBorderRadius: 999px;
    --toggleBgColor: var(--bgInput);
    --toggleActiveBgColor: var(--megakRed);
    --toggleShadow: inset 0px 0px 3px rgba(0, 0, 0, 0.15);
    --toggleActiveBeforeColor: var(--white);
    --toggleInactiveColor: var(--inactiveBookmark);
    --toggleActiveAfterColor: var(--white);
    --toggleHoverShadow: inset 0px 0px 3px rgba(0, 0, 0, 0.25);
    --toggleHoverBorder: 2px solid var(--megakRed);
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 4px;
}

.toggle input[type="checkbox"] {
    display: none;
}

.toggle label {
    position: relative;
    display: inline-block;
    width: var(--toggleWidth);
    height: var(--toggleHeight);
    border-radius: var(--toggleBorderRadius);
    background-color: var(--toggleBgColor);
    box-shadow: var(--toggleShadow);
    cursor: pointer;
}

.toggle label::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(var(--toggleHeight) - 6px);
    height: calc(var(--toggleHeight) - 6px);
    border-radius: var(--toggleBorderRadius);
    background-color: var(--toggleInactiveColor);
    transition: transform 0.2s ease-in-out;
}

.toggle label::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: calc(var(--toggleHeight) - 6px);
    height: calc(var(--toggleHeight) - 6px);
    border-radius: var(--toggleBorderRadius);
    background-color: var(--toggleInactiveColor);
    transition: transform 0.2s ease-in-out;
}

.toggle input[type="checkbox"]:checked + label {
    background-color: var(--toggleActiveBgColor);
}

.toggle input[type="checkbox"]:checked + label::before {
    transform: translateX(calc(var(--toggleWidth) - var(--toggleHeight) + 3px));
    background-color: var(--toggleActiveBeforeColor);
}

.toggle input[type="checkbox"]:checked + label::after {
    transform: translateX(calc(var(--toggleWidth) - var(--toggleHeight) + 3px));
    background-color: var(--toggleActiveAfterColor);
}

.toggle label:hover {
    box-shadow: var(--toggleHoverShadow);
    border: var(--toggleHoverBorder);
}

.toggle input[type="checkbox"]:checked + label:hover {
    border: var(--toggleHoverBorder);
}

.toggle label:focus {
    outline: none;
}

.toggle input[type="checkbox"]:checked + label:hover::before {
    background-color: var(--toggleActiveBeforeColor);
}

.toggle input[type="checkbox"]:checked + label:hover::after {
    background-color: var(--toggleActiveAfterColor);
}

.toggle input[type="checkbox"]:checked + label:hover,
.toggle input[type="checkbox"]:checked + label:focus {
    background-color: var(--toggleActiveBgColor);
}
