@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --white: #f7f7f7;
  --megakRed: #e02635;
  --colorInput: #f7f7f7;
  --bgInput: #292a2b;
  --succesColor: #28cc13;
  --failureColor: #e02635;
  --warningColor: #d69200;
}

body {
  margin: 0;
  background-color: #222224;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Catamaran", sans-serif;
}

#root {
  width: 100%;
}
